# Backend
JWT_KEY=
GEMINI_API_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
SMTP_USER=
SMTP_PASSWORD=
POSTGRES_USER=geekstore
POSTGRES_PASSWORD=
POSTGRES_DB=geekstore
ALLOWED_ORIGINS=https://goblinspot.com,https://www.goblinspot.com
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_MODE=sandbox

# Frontend
VITE_API_BASE_URL=https://api.goblinspot.com/api
